@import 'colors';
@import 'fonts';
@import 'utilities';
@import 'icons';
@import 'header';
@import 'shipyard';
@import 'list';
@import 'slot';
@import 'outfit';
@import 'select';
@import 'charts';
@import 'meters';
@import 'error';


html, body {
  min-height: 100%;
}

body {
  color: @fg;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: @fStandard;
  overflow-x: hidden;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-image: url(images/docking-bay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main {
  margin: 10px;
  min-height: 800px;
  clear: both;
}

.l {
  float: left;
}

.r {
  float: right;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.cb {
  clear: both;
}

a, a:visited {
  color: @fg;
}

footer {
  font-size: 0.6em;
  color: #999;
  padding: 10px 0;
  width: 100%;
  overflow: hidden;
}

footer {
  .right {
    float: right;
    text-align: right;
    margin-right: 10px;
  }
  .left {
    float: left;
    text-align: left;
    margin-left: 10px;
  }
}