// Constants for calculations
@bgDarken: 40%;
@disabledDarken: 15%;
@bgTransparency: 10%;

// Foreground colors
@fg: #fff;
@primary: #FF8C0D; // Light Orange
@secondary: #1FB0FF;  // Light blue
@warning: #FF3B00;  // Dark Orange
@disabled: #888;    // Light grey
@primary-disabled: darken(@primary, @disabledDarken);
@secondary-disabled: darken(@secondary, @disabledDarken);
@warning-disabled: darken(@warning, @disabledDarken);

// Background colors
@bg: rgba(70,70,70,0.95);
@bgBlack: rgba(0,0,0,0.9);
@primary-bg: fadeout(darken(@primary, 47%), 15%);
@secondary-bg: fadeout(darken(@secondary, @bgDarken), @bgTransparency); // Brown background
@warning-bg: fadeout(darken(@warning, @bgDarken), @bgTransparency); // Dark Red

.disabled {
  color: @disabled;
  fill: @disabled;
}

.primary {
  color: @primary;
  fill: @primary;
}

.warning {
  color: @warning;
  fill: @warning;
}

.warning-disabled {
  color: @warning-disabled;
  fill: @warning-disabled;
}
