@font-face {
    font-family: 'Orbitron-Bold';
    src: url('fonts/orbitron-bold-webfont.eot');
    src: url('fonts/orbitron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orbitron-bold-webfont.woff2') format('woff2'),
         url('fonts/orbitron-bold-webfont.woff') format('woff'),
         url('fonts/orbitron-bold-webfont.ttf') format('truetype'),
         url('fonts/orbitron-bold-webfont.svg#orbitronbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron-Medium';
    src: url('fonts/orbitron-medium-webfont.eot');
    src: url('fonts/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orbitron-medium-webfont.woff2') format('woff2'),
         url('fonts/orbitron-medium-webfont.woff') format('woff'),
         url('fonts/orbitron-medium-webfont.ttf') format('truetype'),
         url('fonts/orbitron-medium-webfont.svg#orbitronmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron-Regular';
    src: url('fonts/orbitron-regular-webfont.eot');
    src: url('fonts/orbitron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orbitron-regular-webfont.woff2') format('woff2'),
         url('fonts/orbitron-regular-webfont.woff') format('woff'),
         url('fonts/orbitron-regular-webfont.ttf') format('truetype'),
         url('fonts/orbitron-regular-webfont.svg#orbitronregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sintony-Bold';
    src: url('fonts/sintony-bold-webfont.eot');
    src: url('fonts/sintony-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sintony-bold-webfont.woff2') format('woff2'),
         url('fonts/sintony-bold-webfont.woff') format('woff'),
         url('fonts/sintony-bold-webfont.ttf') format('truetype'),
         url('fonts/sintony-bold-webfont.svg#sintonybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sintony-Regular';
    src: url('fonts/sintony-regular-webfont.eot');
    src: url('fonts/sintony-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sintony-regular-webfont.woff2') format('woff2'),
         url('fonts/sintony-regular-webfont.woff') format('woff'),
         url('fonts/sintony-regular-webfont.ttf') format('truetype'),
         url('fonts/sintony-regular-webfont.svg#sintonyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eurocaps';
    src: url('fonts/eurocaps-webfont.eot');
    src: url('fonts/eurocaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eurocaps-webfont.woff2') format('woff2'),
         url('fonts/eurocaps-webfont.woff') format('woff'),
         url('fonts/eurocaps-webfont.ttf') format('truetype'),
         url('fonts/eurocaps-webfont.svg#euro_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@fStandard: 'eurocaps', Helvetica, sans-serif;
@fTitle: 'Orbitron-Regular', Arial, sans-serif;
