
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon {
  width: 1em;
  height: 1em;
}

.icon-sm {
  width: 0.75em;
  height: 0.75em;
}

.icon-tiny {
  width: 0.5em;
  height: 0.5em;
}

.icon-l {
  width: 1.5em;
  height: 1.5em;
}

.icon-xl {
  width: 3em;
  height: 3em;
}

.shipyard {
  background-image: url(images/icons/logo.svg);
}

.reddit {
  background-image: url(images/icons/reddit.svg);
}


.ico-l {
  font-size: 2em;
}

.ico-xl {
  font-size: 3em;
}

.ico {
  font-family: 'icons';
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-coin-dollar:before {
  content: "\e93b";
}

.ico-download:before {
  content: "\e960";
}

.ico-upload:before {
  content: "\e961";
}

.ico-floppy-disk:before {
  content: "\e962";
}

.ico-spinner4:before {
  content: "\e97d";
}

.ico-spinner11:before {
  content: "\e984";
}

.ico-enlarge:before {
  content: "\e989";
}

.ico-shrink:before {
  content: "\e98a";
}

.ico-enlarge2:before {
  content: "\e98b";
}

.ico-shrink2:before {
  content: "\e98c";
}

.ico-wrench:before {
  content: "\e991";
}

.ico-equalizer:before {
  content: "\e992";
}

.ico-equalizer2:before {
  content: "\e993";
}

.ico-cog:before {
  content: "\e994";
}

.ico-cogs:before {
  content: "\e995";
}

.ico-hammer:before {
  content: "\e996";
}

.ico-pie-chart:before {
  content: "\e99a";
}

.ico-stats-dots:before {
  content: "\e99b";
}

.ico-stats-bars:before {
  content: "\e99c";
}

.ico-stats-bars2:before {
  content: "\e99d";
}

.ico-rocket:before {
  content: "\e9a5";
}

.ico-meter:before {
  content: "\e9a6";
}

.ico-meter2:before {
  content: "\e9a7";
}

.ico-bin:before {
  content: "\e9ac";
}

.ico-target:before {
  content: "\e9b3";
}

.ico-shield:before {
  content: "\e9b4";
}

.ico-power:before {
  content: "\e9b5";
}

.ico-switch:before {
  content: "\e9b6";
}

.ico-power-cord:before {
  content: "\e9b7";
}

.ico-clipboard:before {
  content: "\e9b8";
}

.ico-tree:before {
  content: "\e9bc";
}

.ico-menu:before {
  content: "\e9bd";
}

.ico-menu2:before {
  content: "\e9be";
}

.ico-menu3:before {
  content: "\e9bf";
}

.ico-menu4:before {
  content: "\e9c0";
}

.ico-cloud:before {
  content: "\e9c1";
}

.ico-cloud-download:before {
  content: "\e9c2";
}

.ico-cloud-upload:before {
  content: "\e9c3";
}

.ico-cloud-check:before {
  content: "\e9c4";
}

.ico-link:before {
  content: "\e9cb";
}

.ico-warning:before {
  content: "\ea07";
}

.ico-notification:before {
  content: "\ea08";
}

.ico-question:before {
  content: "\ea09";
}

.ico-plus:before {
  content: "\ea0a";
}

.ico-minus:before {
  content: "\ea0b";
}

.ico-info:before {
  content: "\ea0c";
}

.ico-cancel-circle:before {
  content: "\ea0d";
}

.ico-blocked:before {
  content: "\ea0e";
}

.ico-cross:before {
  content: "\ea0f";
}

.ico-checkmark:before {
  content: "\ea10";
}

.ico-checkmark2:before {
  content: "\ea11";
}

.ico-loop:before {
  content: "\ea2d";
}

.ico-loop2:before {
  content: "\ea2e";
}

.ico-infinite:before {
  content: "\ea2f";
}

.ico-shuffle:before {
  content: "\ea30";
}

.ico-arrow-up-left:before {
  content: "\ea31";
}

.ico-arrow-up:before {
  content: "\ea32";
}

.ico-arrow-up-right:before {
  content: "\ea33";
}

.ico-arrow-right:before {
  content: "\ea34";
}

.ico-arrow-down-right:before {
  content: "\ea35";
}

.ico-arrow-down:before {
  content: "\ea36";
}

.ico-arrow-down-left:before {
  content: "\ea37";
}

.ico-arrow-left:before {
  content: "\ea38";
}

.ico-arrow-up-left2:before {
  content: "\ea39";
}

.ico-arrow-up2:before {
  content: "\ea3a";
}

.ico-arrow-up-right2:before {
  content: "\ea3b";
}

.ico-arrow-right2:before {
  content: "\ea3c";
}

.ico-arrow-down-right2:before {
  content: "\ea3d";
}

.ico-arrow-down2:before {
  content: "\ea3e";
}

.ico-arrow-down-left2:before {
  content: "\ea3f";
}

.ico-arrow-left2:before {
  content: "\ea40";
}

.ico-circle-up:before {
  content: "\ea41";
}

.ico-circle-right:before {
  content: "\ea42";
}

.ico-circle-down:before {
  content: "\ea43";
}

.ico-circle-left:before {
  content: "\ea44";
}

.ico-tab:before {
  content: "\ea45";
}

.ico-move-up:before {
  content: "\ea46";
}

.ico-move-down:before {
  content: "\ea47";
}

.ico-sort-alpha-asc:before {
  content: "\ea48";
}

.ico-sort-alpha-desc:before {
  content: "\ea49";
}

.ico-sort-numeric-asc:before {
  content: "\ea4a";
}

.ico-sort-numberic-desc:before {
  content: "\ea4b";
}

.ico-sort-amount-asc:before {
  content: "\ea4c";
}

.ico-sort-amount-desc:before {
  content: "\ea4d";
}

.ico-checkbox-checked:before {
  content: "\ea52";
}

.ico-checkbox-unchecked:before {
  content: "\ea53";
}

.ico-radio-checked:before {
  content: "\ea54";
}

.ico-radio-checked2:before {
  content: "\ea55";
}

.ico-radio-unchecked:before {
  content: "\ea56";
}

.ico-table:before {
  content: "\ea70";
}

.ico-table2:before {
  content: "\ea71";
}

.ico-share:before {
  content: "\ea7d";
}

.ico-share2:before {
  content: "\ea82";
}

.ico-github:before {
  content: "\eab1";
}

.ico-github4:before {
  content: "\eab4";
}
