
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
  width: 1em;
  height: 1em;

  &.sm {
    width: 0.75em;
    height: 0.75em;
  }

  &.tn {
    width: 0.5em;
    height: 0.5em;
  }

  &.lg {
    width: 1.5em;
    height: 1.5em;
  }

  &.xl {
    width: 2em;
    height: 2em;
  }
}
