.list {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  float: left;

  .list-item {

    clear: both;
    overflow: hidden;
    margin: 3px 0px;
  }

  .val {
    float:right;
    text-align: right;
  }

  .lbl {
    float: left;
  }

}


#cost-list {
  color: grey;
  width: 300px;

  .list-item {
    cursor: pointer;
  }

  .enabled {
    color: #FFF;
  }
}


#power-list {
  color: grey;
  width: 300px;

  .enabled {
    color: #FFF;
  }

  .consumer {
    cursor: pointer;
  }

  .consumer.enabled {
    color: @fg;
  }

  .common, .internal, .hardpoints {

  }

}