

.modal-bg {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  .user-select-none();
}

.modal {
  position: absolute;
  left:50%; top:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  max-width: 75%;
  padding: 3em;
  background-color: @bgBlack;
  border: 1px solid @primary;

  h1 {
    margin: 0.2em 0;
  }

  h2 {
    margin: 0;
  }
  p {
    min-width: 30em;
    text-align: justify;
  }
}

textarea {
  background: @primary-bg;
  border: none;
  outline: none;
  color: @primary-disabled;

  &.json {
    display:block;
    width:50em;
    height: 25em;
    resize: vertical;
    margin:2em 0;
  }
}

.dismiss {
  background-color: @primary-bg;
}
