
#outfit {
  //width: 62em;
  //margin: 0 auto;
}

#overview {
  h1 {
    margin: 0.2em 0;
    float: left;
  }
}

#build {
  float: right;
  line-height: 2em;

  input {
    background: @primary-bg;
    color: @secondary;
    outline: none;
    border: none;
    font-size: 0.8em;
    line-height: 2em;
    text-align: right;
    &:hover, &:focus {
      background-color: @secondary-bg;
    }
  }
}

#hardpoints {
  .slot:nth-child(2n) {
    clear: left;
    margin-right: 0.5em;
  }
}

#standard {
  .slot {
    clear: left;
  }
}

#internal {
 .slot {
    clear: left;
  }
}

u { // Unit (Mj, Km, etc)
  font-size: 0.8em;
  text-decoration: none;
}

#summary {
  .user-select-none();
  float: right;
  min-width: 40em;
  margin: 0.25em;
  border-top: 2px solid @primary;
  border-bottom: 2px solid @primary;
  background-color: @primary-bg;
}

.toggle {
  cursor: pointer;
}

