
#outfit {
  font-size: 1.1em;
  max-width: 1200px;
  margin: 0 auto;
  .user-select-none();

  .tablet({
    width: 100%;
    //min-width: 750px;
    //font-size: 0.8em;
  });

}

#overview {
  h1 {
    margin: 0;
    float: left;
  }
  overflow: hidden;
}

#summary {
    overflow-x: auto;
    width: 100%;
    margin: 1em 0 2em 0;

    #summaryTable {
        .user-select-none();
        width: 100%;
        border-collapse: collapse;
        font-size: 0.8em;
    }
}

#build {
  float: right;
  line-height: 2em;
  font-size: 0.8em;

  input {
    background: none;
    line-height: 1.5em;
    font-size: 0.8em;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5em;

    &:focus {
      border: 1px solid @primary;
      color: @primary;
    }
  }
}


#hardpoints, #utility, #standard {
  padding-right: 0.3em;
  .slot {
    clear: left;
  }
}

#internal {
 .slot {
    clear: left;
  }
}

.outfit-button-label {
    margin-left: 0.5em;

    @media screen and (max-width: 640px) {
        display: none;
    }
}