#powerMng {
  width: 50%;
  padding: 0 0.5em;

  table {
  	background: none;
  	text-align: left;

    td, th, tr {
      cursor: default;
    }

  	thead.summary, tbody.summary {
  		td, th {
  			padding-left: 5px;
  		}

  		td {
  			background-color: rgba(28,15,0,.85);
  		}
  	}

  	td, th {
  		padding: 0;
  		text-align: left;
  		float: none;
  	}

  	td.primary-disabled {
  	}

  	td.activator {
  		width: 2em;
  		color: #F9A41E;
  		font-size: 1.4em;
      cursor: pointer;

  		.before, .after {
  			display: inline-block;
  			width: 0.1em;
  			font-weight: bold;
  		}

  		.center {
  			display: inline-block;
  			width: 0.4em;
  		}

  		.square.enabled {
  			visibility: visible;
  		}

  		.square {
  			visibility: hidden;
  		}

  	}

  	td.lbl {
  		width: 20em;
  	}

  	td.val {
      width: 4em;
      text-align: right;
      color: #ccc;
  	}

    td.priority {
      text-align: center;
      font-size: 1.3em;
      position: relative;
      padding: 0 2em;
      color: #ccc;

      .less, .more {
        font-family: monospace;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        width: 0.7em;
        height: 1.4em;
        position: absolute;
      }

      .less {
        left: 1em;
      }

      .more {
        right: 1em;
      }

    }

  }

}