.select {
  color: @primary-disabled;
  position: absolute;
  left: -1px;
  padding: 5px 0;
  width: 100%;
  margin: 0;
  max-height: 300px;
  overflow-y: scroll;
  background-color: @bg;
  border: 1px solid @primary;
  white-space: nowrap;

  .select-group {
    clear: both;
    margin: 5px 0;
    padding-left: 5px;
    border-top: 1px solid @primary-disabled;
    border-bottom: 1px solid @primary-disabled;
  }

  .empty-c, .c, .lc {
    cursor: pointer;

    color: @primary-disabled;

    &:hover {
      color: @warning;
    }
    &.disabled {
      cursor: not-allowed;
      color: @disabled;
    }
    &.active {
      color: @secondary;
    }
  }

  @optionSpacing: 1.8em;

  .lc {
    padding-left: 5px;
    line-height:@optionSpacing;
  }

  .empty-c {
    line-height:@optionSpacing;
    text-align: center;
  }

  &.hardpoint {
    .c {
      width: 4em;
     /* &:nth-child(3n + 1) {
        clear: left;
      }
      &:nth-child(5n +1) {
        clear: none;
      }*/
    }
  }

  .c {
    border:1px solid @primary-disabled;
    display: block;
    float:left;
    padding: 0;
    margin: 0.5em;
    width: 2em;
    line-height: @optionSpacing;
    text-align: center;

    &:hover {
      border:1px solid @warning;
    }

    /*&:nth-child(5n +1) {
      clear: left;
    }*/

    &.disabled {
      border:1px solid @disabled;
    }
    &.active {
      border:1px solid @secondary;
    }
  }

  ul {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
}
