
a.ship {
  display: block;
  float: left;
  width: 30%;
  height: 30%;
  margin: 1% 1%;
  background-color: #222;
  padding: 0.5%;
  text-decoration: none;
  color: #FFF;

  &:hover {
    background-color: orange;
  }

  h2 {
    width: 100%;
    text-transform: uppercase;
    margin: 0;

    small {
      float: right;
      font-size: 0.5em;
    }
  }

  .subtitle {
    overflow: hidden;
  }

  .size {
    float: left;
    font-size: 0.8em;
  }
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    float: right;
  }
}