
a.ship {
  display: block;
  float: left;
  width: 22%;
  height: 30%;
  margin: 1% 1%;
  background-color: @bg;
  padding: 0.5%;
  text-decoration: none;
  color: @fg;
  font-family: @fStandard;
  text-align: right;
  .user-select-none();

  &:hover {
    background-color: @secondary-bg;
  }

  h2 {
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    font-family: @fTitle;
    text-align: left;
  }

  small {
    color: @warning;
    font-family: @fTitle;
    float: left;
    font-size: 0.8em;
  }

  .subtitle {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .size {
    float: left;
    font-size: 0.8em;
  }
  .purpose {
    text-transform: uppercase;
    font-size: 0.7em;
    float: right;
  }
}