
table {
  margin: 0 auto;
  background-color: @primary-bg;
  border-spacing: 0;
  font-size: 0.8em;

  a {
    text-decoration: none;
  }
}

thead {
  color: @bgBlack;
  background-color: @primary-disabled;
}


tbody tr {

  &:hover {
    color: #000;
    background-color: @secondary;
  }
}

th {
  padding: 0.1em 0.5em;
}

td {
  padding-left: 0.5em;
  font-size: 0.9em;
}