<!DOCTYPE html>
<html ng-app="app" ng-strict-di="true">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title ng-bind="title">Coriolis</title>
  <link rel="stylesheet" href="/app.css">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/logo/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/logo/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/logo/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/logo/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/logo/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/apple-touch-icon-180x180.png">
  <link rel="icon" sizes="96x96" type="image/png" href="/images/logo/favicon-96x96.png">
  <link rel="icon" sizes="194x194" type="image/png" href="/images/logo/favicon-194x194.png">
  <link rel="icon" sizes="192x192" type="image/png" href="/images/logo/android-chrome-192x192.png">
  <link rel="manifest" href="/images/logo/manifest.json">
  <link rel="shortcut icon" href="/images/logo/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/images/logo/mstile-144x144.png">
  <meta name="msapplication-config" content="/images/logo/browserconfig.xml">
  <meta name="theme-color" content="#000000">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
</head>
<body ng-class="bodyClass" ng-click="bgClicked($event)">
  <div style="height: 0; width: 0; overflow:hidden"><%= svgContent %></div>
  <shipyard-header></shipyard-header>
  <div id="main" ui-view></div>

  <div ui-view="modal"></div>

  <footer>
    <div class="right">
      <a href="https://github.com/cmmcleod/coriolis" target="_blank" title="Coriolis Github Project">Version <%= version %> - <%= date %></a>
    </div>
    <div style="max-width:50%" class="l">
      Coriolis Shipyard was created for non-commercial purposes. It is not endorsed by nor reflects the views or opinions of Frontier Developments.
    </div>
  </footer>

  <script src="/lib.js" type="text/javascript"></script>
  <script src="/app.js" type="text/javascript"></script>
  <% if (uaTracking) { %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= uaTracking %> ', 'auto');
    </script>
  <% } %>

</body>
</html>