// The pips table - keep the background black
#pips {

  table {
    background-color: @bgBlack;
    color: @primary;
    margin: 0 auto;
  }

  // A clickable entity in the pips table
  .clickable {
    cursor: pointer;
  }

  button {
    font-size: 1.2em;
    background: @primary-bg;
    color: @primary;
    border: 1px solid @primary;
    margin: 20px;
    &.selected {
      // Shown when button is selected
      background: @primary;
      color: @primary-bg;
    }
  }

  // A full pip
  .full {
    stroke: @primary;
    fill: @primary;
  }

  // A half pip
  .half {
    stroke: @primary-disabled;
    fill: @primary-disabled;
  }

  // An empty pip
  .empty {
    stroke: @primary-bg;
    fill: @primary-bg;
  }
}

