<div id="app-update" ng-show="appCacheUpdate">
  <a href="#" onclick="window.location.reload()">Update Available! Click to Refresh</a>
</div>

<header>
  <a class="l" ui-sref="shipyard" style="margin-right: 1em;" title="Ships"><svg class="icon xl"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#coriolis"></use></svg></a>

  <div class="l menu">
    <div class="menu-header" ng-class="{selected: openedMenu=='s'}" ng-click="openMenu($event,'s')">
      <svg class="icon warning"><use xlink:href="#rocket"></use></svg><span class="menu-item-label"> Ships</span>
</div>
    <div class="menu-list dbl no-wrap" ng-if="openedMenu=='s'">
      <a class="block" ng-repeat="(shipId,ship) in ships" ui-sref-active="active" ui-sref="outfit({shipId:shipId, code:null, bn:null})">{{::ship.properties.name}}</a>
    </div>
  </div>

  <div class="l menu">
    <div class="menu-header" ng-class="{selected: openedMenu=='b', disabled: !bs.hasBuilds}" ng-click="openMenu($event,'b')">
      <svg class="icon warning" ng-class="{'warning-disabled': !bs.hasBuilds}"><use xlink:href="#hammer"></use></svg><span class="menu-item-label"> Builds</span>
    </div>
    <div class="menu-list" ng-if="openedMenu=='b'" ng-click="$event.stopPropagation();">
      <div class="dbl" >
        <div><ul ng-repeat="shipId in buildsList">
          {{ships[shipId].properties.name}}
          <li ng-repeat="(name, build) in allBuilds[shipId]">
            <a ui-sref-active="active" class="name" ui-sref="outfit({shipId:shipId, code:build, bn:name})" ng-bind="name"></a>
          </li>
        </ul></div>
      </div>
    </div>
  </div>

  <div class="l menu">
    <div class="menu-header" ng-class="{selected: openedMenu=='comp', disabled: !bs.hasBuilds}" ng-click="openMenu($event,'comp')">
      <svg class="icon warning" ng-class="{'warning-disabled': !bs.hasBuilds}"><use xlink:href="#stats-bars"></use></svg><span class="menu-item-label"> Compare</span>
</div>
    <div class="menu-list" ng-if="openedMenu=='comp'" ng-click="$event.stopPropagation();" style="white-space: nowrap;">
      <span ng-if="!bs.hasComparisons">None Created</span>
      <a ng-repeat="(name, comp) in allComparisons" ui-sref-active="active" class="block name" ui-sref="compare({name:name})" ng-bind="name"></a>
      <hr />
      <a ui-sref="compare({name: 'all'})" class="block">Compare All</a>
      <a ui-sref="compare({name: null})" class="block">Create New</a>
    </div>
  </div>

  <div class="r menu">
    <div class="menu-header" ng-class="{selected: openedMenu=='settings'}" ng-click="openMenu($event,'settings')">
      <svg class="icon xl warning"><use xlink:href="#cogs"></use></svg><span class="menu-item-label"> Settings</span>
    </div>
    <div class="menu-list no-wrap" ng-if="openedMenu=='settings'" ng-click="$event.stopPropagation();">
      <ul>
        Insurance
        <li><select ng-model="insurance.current" ng-options="ins.name for (i,ins) in insurance.opts" ng-change="updateInsurance()"></select></li>
      </ul><br>
      <ul>
        Ship Discount
        <li><select ng-model="discounts.ship" ng-options="i for (i,d) in discounts.opts" ng-change="updateDiscount()"></select></li>
      </ul><br>
      <ul>
        Component Discount
        <li><select ng-model="discounts.components" ng-options="i for (i,d) in discounts.opts" ng-change="updateDiscount()"></select></li>
      </ul>
      <hr />
      <ul>
        Builds & Comparisons
        <li><a href="#" class="block" ng-click="backup($event)">Backup</a></li>
        <li><a href="#" class="block" ng-click="detailedExport($event)">Detailed Export</a></li>
        <li><a href="#" class="block" ui-sref="modal.import">Import</a></li>
        <li><a href="#" class="block" ui-sref="modal.delete">Delete All</a></li>
      </ul>
      <hr />
      <a href="#" ui-sref="modal.about" class="block">About</a>
    </div>
  </div>

</header>