<div class="sz" ng-bind="c.maxClass"></div>
<div class="empty" ng-if="!c.c">EMPTY</div>
<div ng-if="c.c">
  <div class="l">{{c.c.class}}{{c.c.rating}} {{c.c.name || lbl}}</div>
  <div class="r">{{c.c.mass || c.c.capacity || '0'}} <u>T</u></div>
  <div class="cb"></div>
  <div class="l" ng-if="c.c.optmass">Opt: {{c.c.optmass}} <u>T</u></div>
  <div class="l" ng-if="c.c.maxmass">Max: {{c.c.maxmass}} <u>T</u></div>
  <div class="l" ng-if="c.c.bins">{{c.c.bins}} <u>Bins</u></div>
  <div class="l" ng-if="c.c.rate">Rate: {{$r.fRound4(c.c.rate/1000)}} <u>T/s</u></div>
  <div class="l" ng-if="c.c.ammo">Ammo: {{c.c.ammo}}</div>
  <div class="l" ng-if="c.c.cells">Cells: {{c.c.cells}}</div>
  <div class="l" ng-if="c.c.recharge">Recharge: {{c.c.recharge}} <u>Mj</u></div>
  <div class="l" ng-if="c.c.repair">Repair: {{c.c.repair}}</div>
  <div class="l" ng-if="c.c.rangeLS">{{c.c.rangeLS}} <u>LS</u></div>
  <div class="l" ng-if="c.c.rangeRating">Range: {{c.c.rangeRating}}</div>
  <div class="l" ng-if="c.c.armouradd">+{{c.c.armouradd}} <u>Armour</u></div>
</div>