<div class="modal-bg" ng-if="showAbout" ng-click="hideAbout()">
  <div class="modal" ng-click="$event.stopPropagation()">
    <h1>Coriolis - About</h1>
    <p>The Coriolis project was inspired by <a href="http://www.edshipyard.com/" target="_blank">E:D Shipyard</a> and, of course,
    <a href="http://www.elitedangerous.com" target="_blank">Elite Dangerous</a>. </p>

    <h2>Github</h2>
    <a href="https://github.com/cmmcleod/coriolis" target="_blank" title="Coriolis Github Project">github.com/cmmcleod/coriolis</a>
    <p>
      Coriolis is an open source project. Checkout the list of upcoming features and to-do list on github.
      Any and all contributions and feedback are welcome. If you encounter any bugs please report them and provide as much detail as possible.
    </p>
    <button class="r dismiss" ng-click="hideAbout()">Close</button>
  </div>
</div>