<div class="header toggle" ng-click="toggleExpand()">Costs</div>
<div class="expandable items" ng-class="{expanded: expanded}">
  <div class="item" ng-class="{enabled:ship.incCost}" ng-click="toggle(ship)">
    <div class="lbl">{{ship.name}}</div><div class="val">{{$r.fCrd(ship.cost)}}</div>
  </div>
  <div class="item" ng-class="{enabled:ship.bulkheads.incCost}" ng-click="toggle(ship.bulkheads)" ng-if="ship.bulkheads.c.cost">
    <div class="lbl">{{ship.bulkheads.c.name}}</div><div class="val">{{$r.fCrd(ship.bulkheads.c.cost)}}</div>
  </div>
  <div ng-repeat="c in ship.common" ng-if="c.c.cost" class="item common" ng-class="{enabled:c.incCost}" ng-click="toggle(c)">
    <div class="lbl">{{c.c.class}}{{c.c.rating}} {{$r.CArr[$index]}}</div><div class="val">{{$r.fCrd(c.c.cost)}}</div>
  </div>
  <div ng-repeat="c in ship.hardpoints" ng-if="c.c.cost" class="item hardpoints" ng-class="{enabled:c.incCost}" ng-click="toggle(c)">
    <div class="lbl">{{c.c.class}}{{c.c.rating}} {{c.c.name || $r.hgMap[c.c.grp]}}</div><div class="val">{{$r.fCrd(c.c.cost)}}</div>
  </div>
  <div ng-repeat="c in ship.internal" ng-if="c.c.cost" class="item internal" ng-class="{enabled:c.incCost}" ng-click="toggle(c)">
    <div class="lbl">{{c.c.class}}{{c.c.rating}} {{c.c.name || $r.igMap[c.c.group]}}</div><div class="val">{{$r.fCrd(c.c.cost)}}</div>
  </div>
</div>

<div class="summary toggle" ng-click="toggleExpand()">
  <div class="item">
    <div class="lbl">Total</div>
    <div class="val">{{$r.fCrd(ship.totalCost)}} <u>CR</u></div>
  </div>
  <div class="item">
    <div class="lbl">Insurance</div>
    <div class="val">{{$r.fCrd(ship.totalCost * (1-insurance))}} <u>CR</u></div>
  </div>
</div>
