<header>
  <div class="left">
    <a href="#/"><h1 class="title">Shipyard</h1></a>
  </div>

  <div class="right">
    <a class="logo github" href="https://github.com/cmmcleod/ed-shipyard" target="_blank" title="Shipyard Github Project"></a>
    <a class="logo reddit" href="https://github.com/cmmcleod/ed-shipyard" target="_blank" title="Reddit Thread"></a>
    <a class="logo elite-dangerous" href="https://github.com/cmmcleod/ed-shipyard" target="_blank" title="Elite Dangerous Forum Thread"></a>
  </div>

</header>