<h1><svg class="icon xl"><use xlink:href="#coriolis"></use></svg> <span class="warning">Coriolis</span></h1>
<p>The Coriolis project was inspired by <a href="http://www.edshipyard.com/" target="_blank">E:D Shipyard</a> and, of course,
<a href="http://www.elitedangerous.com" target="_blank">Elite Dangerous</a>. The ultimate goal of Coriolis is to provide rich features to support in-game play and planning while engaging the E:D community to support its development.</p>

<p>Coriolis was created using assets and imagery from Elite: Dangerous, with the permission of Frontier Developments plc, for non-commercial purposes. It is not endorsed by nor reflects the views or opinions of Frontier Developments.</p>

<div>
  <a class="l" style="margin: 0.4em" href="https://github.com/cmmcleod/coriolis" target="_blank" title="Coriolis Github Project">
    <svg class="icon fg xl"><use xlink:href="#github-mark"></use></svg>
  </a>
  <h2>Github</h2>
  <a href="https://github.com/cmmcleod/coriolis" target="_blank" title="Coriolis Github Project">github.com/cmmcleod/coriolis</a>
</div>
<p>
  Coriolis is an open source project. Checkout the list of upcoming features and to-do list on github.
  Any and all contributions and feedback are welcome. If you encounter any bugs please report them and provide as much detail as possible.
</p>
<button class="r dismiss" ng-click="dismiss()">Close</button>