
<table id="comparison">
  <tr ng-show="compareMode">
    <td class="head">Comparison</td>
    <td>
      <input ng-model="name" ng-change="nameChange()" placeholder="Enter Comparison Name"  maxlength="50" />
    </td>
    <td>
      <button ng-click="save()" ng-disabled="!name || name == 'all' || saved"><svg class="icon lg "><use xlink:href="#floppy-disk"></use></svg> Save</button>
      <button ng-click="delete()" ng-disabled="name == 'all' || !saved"><svg class="icon lg warning "><use xlink:href="#bin"></use></svg></button>
      <button ng-click="selectBuilds(true, $event)"><svg class="icon lg "><use xlink:href="#rocket"></use></svg> Builds</button>
      <button class="r" ng-click="permalink($event)" ng-disabled="builds.length == 0"><svg class="icon lg "><use xlink:href="#link"></use></svg> Permalink</button>
      <button class="r" ng-click="embed($event)" ng-disabled="builds.length == 0"><svg class="icon lg "><use xlink:href="#embed"></use></svg> Forum</button>
    </td>
  </tr>
  <tr ng-show="!compareMode">
    <td class="head">Comparison</td>
    <td colspan="2">
      <h3 ng-bind="name"></h3>
      <button class="r" ui-sref="modal.import({obj:importObj})"><svg class="icon lg "><use xlink:href="#download"></use></svg> Import Builds</button>
    </td>
  </tr>
  <tr>
    <td class="head">Compare</td>
    <td colspan="2">
      <ul id="facet-container" as-sortable="facetSortOpts" ng-model="facets" class="sortable" update="tblUpdate">
        <li ng-repeat="(i,f) in facets" as-sortable-item class="facet" ng-class="{active: f.active}" ng-click="toggleFacet(i)">
          <div as-sortable-item-handle><span ng-bind="f.title"></span></div>
        </li>
      </ul>
    </td>
    </tr>
</table>

<table id="comp-tbl" comparison-table ng-click="handleClick($event)"></table>

<div ng-repeat="f in facets | filter:{active:true}" ng-if="builds.length > 0" class="chart" bar-chart width="480" facet="f" data="builds">
  <h3 ng-click="sort(f.props[0])" >{{f.title}}</h3>
</div>

<div class="modal-bg" ng-show="showBuilds" ng-click="selectBuilds(false, $event)">
  <div class="modal" ui-view="modal-content" ng-click="$event.stopPropagation()">
    <h3>Select Builds to Compare</h3>
    <div id="build-select">
      <table>
        <thead><tr><th colspan="2">Available</th></tr></thead>
        <tbody>
          <tr ng-repeat="b in unusedBuilds | orderBy:'name'" ng-click="addBuild(b.id, b.buildName)">
            <td class="tl" ng-bind="b.name"></td><td class="tl" ng-bind="b.buildName"></td>
          </tr>
        </tbody>
      </table>
      <h1>⇆</h1>
      <table>
        <tbody>
          <thead><tr><th colspan="2">Added</th></tr></thead>
          <tr ng-repeat="b in builds | orderBy:'name'" ng-click="removeBuild(b.id, b.buildName)">
            <td class="tl" ng-bind="b.name"></td><td class="tl" ng-bind="b.buildName"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="r dismiss" ng-click="selectBuilds(false, $event)">Done</button>
  </div>
</div>