<div id="comparison">


  <table>
    <thead>
      <tr class="main">
        <th rowspan="2" ng-click="sort('ship.name')">Ship</th>
        <th rowspan="2" ng-click="sort('buildName')">Build</th>
        <!-- <th rowspan="2" ng-click="sort('ship.agility')">Agility</th> /-->
        <!-- <th rowspan="2" ng-click="sort('ship.speed')">Speed</th> /-->
        <!-- <th rowspan="2" ng-click="sort('ship.boost')">Boost</th> -->
        <th rowspan="2" ng-click="sort('ship.shieldStrength')">Shields</th>
        <th rowspan="2" ng-click="sort('ship.armour')">Armour</th>
        <th colspan="2">Mass</th>
        <th colspan="3">Power</th>
        <!-- <th rowspan="2" ng-click="sort('ship.fuelCapacity')">Fuel</th> -->
        <th rowspan="2" ng-click="sort('ship.cargoCapacity')">Cargo</th>
        <th colspan="2">Jump Range</th>
        <th rowspan="2" ng-click="sort('ship.totalCost')">Cost</th>
      </tr>
      <tr>
        <!-- Mass /-->
        <th class="lft" ng-click="sort('ship.unladenMass')">Unladen</th>
        <th class="rgt"  ng-click="sort('ship.ladenMass')">Laden</th>
        <!-- Power /-->
        <th class="lft" ng-click="sort('ship.powerRetracted')">Retracted</th>
        <!-- <th ng-click="sort('pctRetracted')">%</th> -->
        <th ng-click="sort('ship.powerDeployed')">Deployed</th>
        <!-- <th ng-click="sort('pctDeployed')">%</th> -->
        <th class="rgt" ng-click="sort('ship.powerAvailable')">Available</th>
        <!-- Jump Range /-->
        <th class="lft" ng-click="sort('ship.unladenJumpRange')">Unladen</th>
        <th class="rgt" ng-click="sort('ship.ladenJumpRange')">Laden</th>
      </tr>
    </thead>
    <tbody>
      <tr  class="tr" ng-repeat="b in comparison | orderBy:predicate:desc">
        <td class="tl"><a ui-sref="outfit({shipId: b.shipId, code: b.code, bn: b.buildName})" ng-bind="b.ship.name"></a></td>
        <td class="tl"><a ui-sref="outfit({shipId: b.shipId, code: b.code, bn: b.buildName})" ng-bind="b.buildName"></a></td>
        <!-- <td class="tc" ng-bind="b.ship.agility"></td> -->
        <!-- <td>{{b.ship.speed}} <u>M/s</u></td> -->
        <!-- <td>{{b.ship.boost}} <u>M/s</u></td> -->
        <td>{{fRound(b.ship.shieldStrength)}} <u>Mj</u></td>
        <td ng-bind="b.ship.armourTotal"></td>
        <td>{{fRound(b.ship.unladenMass)}} <u>T</u></td>
        <td>{{fRound(b.ship.ladenMass)}} <u>T</u></td>
        <td>{{fPwr(b.ship.powerRetracted)}} <u>MW</u></td>
        <!-- <td>{{fPct(b.pctRetracted)}}</td> -->
        <td>{{fPwr(b.ship.powerDeployed)}} <u>MW</u></td>
        <!-- <td>{{fPct(b.pctDeployed)}}</td> -->
        <td>{{fPwr(b.ship.powerAvailable)}} <u>MW</u></td>
        <!-- <td>{{fRound(b.ship.fuelCapacity)}} <u>T</u></td> -->
        <td>{{fRound(b.ship.cargoCapacity)}} <u>T</u></td>
        <td>{{fRound(b.ship.unladenJumpRange)}} <u>LY</u></td>
        <td>{{fRound(b.ship.ladenJumpRange)}} <u>LY</u></td>
        <td>{{b.ship.totalCost}} <u>CR</u></td>
      </tr>
      </tbody>
  </table>
</div>


</div>