
<div class="header toggle" ng-click="toggleExpand()">Power Use</div>
<div class="expandable items" ng-class="{expanded: expanded}">
  <div ng-if="ship.common[0].c.pGen" class="item common enabled untoggleable">
    <div class="lbl">{{ship.common[0].c.class}}{{ship.common[0].c.rating}} {{$r.CArr[0]}}</div><div class="val">{{$r.fPwr(ship.common[0].c.pGen)}}</div>
  </div>

  <div ng-repeat="c in ship.common" ng-if="c.c.power" class="item common" ng-class="{enabled:c.enabled, consumer:c.c.power}" ng-click="toggle(c)">
    <div class="lbl">{{c.c.class}}{{c.c.rating}} {{$r.CArr[$index]}}</div><div class="val">{{$r.fPwr(c.c.power)}}</div>
  </div>

  <div class="item common consumer" ng-class="{enabled:ship.cargoScoop.enabled}" ng-click="toggle(ship.cargoScoop)">
    <div class="lbl">1H Cargo Scoop</div><div class="val">{{$r.fPwr(ship.cargoScoop.c.power)}}</div>
  </div>

  <div ng-repeat="c in ship.hardpoints" ng-if="c.c.power" class="item hardpoints" ng-class="{enabled:c.enabled, consumer:c.c.power}" ng-click="toggle(c)">
    <div class="lbl">{{c.c.class}}{{c.c.rating}} {{c.c.name || $r.hgMap[c.c.grp]}}</div><div class="val">{{$r.fPwr(c.c.power)}}</div>
  </div>

  <div ng-repeat="c in ship.internal" ng-if="c.c.power" class="item internal" ng-class="{enabled:c.enabled, consumer:c.c.power}" ng-click="toggle(c)">
    <div class="lbl">{{c.c.class}}{{c.c.rating}} {{c.c.name || $r.igMap[c.c.group]}}</div><div class="val">{{$r.fPwr(c.c.power)}}</div>
  </div>
</div>
<div class="summary toggle" ng-click="toggleExpand()">
  <div class="item">
    <div class="lbl">Available</div>
    <div class="val">{{$r.fPwr(ship.powerAvailable)}} <u>MW</u></div>
  </div>
  <div class="item">
    <div class="lbl">Deployed</div>
    <div class="val">{{$r.fPwr(ship.powerDeployed)}} <u>MW</u> ({{$r.fPct(ship.powerDeployed/ship.powerAvailable)}})</div>
  </div>
  <div class="item">
    <div class="lbl">Retracted</div>
    <div class="val">{{$r.fPwr(ship.powerRetracted)}} <u>MW</u> ({{$r.fPct(ship.powerRetracted/ship.powerAvailable)}})</div>
  </div>
</div>
