<div ng-if="ship.common[0].c.pGen" class="list-item common enabled">
  <div class="lbl">{{ship.common[0].c.class}}{{ship.common[0].c.rating}} {{$r.CArr[0]}}</div><div class="val">{{$r.fPwr(ship.common[0].c.pGen)}}</div>
</div>
<div ng-repeat="c in ship.common" ng-if="c.c.power" class="list-item common" ng-class="{enabled:c.enabled, consumer:c.c.power}" ng-click="toggle(c)">
  <div class="lbl">{{c.c.class}}{{c.c.rating}} {{$r.CArr[$index]}}</div><div class="val">{{$r.fPwr(c.c.power)}}</div>
</div>
<div class="list-item common consumer" ng-class="{enabled:ship.cargoScoop.enabled}" ng-click="toggle(ship.cargoScoop)">
  <div class="lbl">1H Cargo Scoop</div><div class="val">{{$r.fPwr(ship.cargoScoop.c.power)}}</div>
</div>

<div ng-repeat="c in ship.hardpoints" ng-if="c.c.power" class="list-item hardpoints" ng-class="{enabled:c.enabled, consumer:c.c.power}" ng-click="toggle(c)">
  <div class="lbl">{{c.c.class}}{{c.c.rating}} {{c.c.name}}</div><div class="val">{{$r.fPwr(c.c.power)}}</div>
</div>

<div ng-repeat="c in ship.internal" ng-if="c.c.power" class="list-item internal" ng-class="{enabled:c.enabled, consumer:c.c.power}" ng-click="toggle(c)">
  <div class="lbl">{{c.c.class}}{{c.c.rating}} {{c.c.name || $r.igMap[c.c.group]}}</div><div class="val">{{$r.fPwr(c.c.power)}}</div>
</div>

<div>Retracted: {{$r.fPwr(ship.powerRetracted)}} ({{$r.fPct(ship.powerRetracted/ship.powerAvailable)}})</div>
<div>Deployed: {{$r.fPwr(ship.powerDeployed)}} ({{$r.fPct(ship.powerDeployed/ship.powerAvailable)}})</div>
