  <div class="sz">{{::['U','S','M','L','H'][hp.maxClass]}}</div>
<div class="empty" ng-if="!hp.c">EMPTY</div>
<div ng-if="hp.c">
  <div class="l">{{hp.c.name || lbl}}</div><div class="r">{{hp.c.class}}{{hp.c.rating}}<span ng-if="hp.c.mode">/{{hp.c.mode}}{{hp.c.missile}}</span></div>
  <div class="cb">
    <div class="cb" ng-if="hp.c.damage" >
      <div  class="l" meter max="10" obj="hp.c" labels="['dps','dmg']" keys="['dps','damage']" style="width: 75px;height: 30px;"></div>
      <div class="l" meter max="10" obj="hp.c" labels="['pen','load']" keys="['armourpen','thermload']" style="width: 75px;height: 30px;"></div>
    </div>
    <div class="l" ng-if="hp.c.ammo">Ammo: {{$r.fCrd(hp.c.clip)}}/{{$r.fCrd(hp.c.ammo)}}</div>
    <div class="l" ng-if="h.c.rof != null">ROF: {{hp.c.rof}}/s</div>
    <div class="l" ng-if="hp.c.shieldmul">+{{$r.fRPct(hp.c.shieldmul)}}</div>
    <div class="l" ng-if="hp.c.range">{{hp.c.range}} KM</div>
    <div class="r">{{hp.c.mass}} T</div>
  </div>
</div>
